@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Texturina:ital,wght@1,100&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: rgb(250, 105, 79);
}

h1{
  font-family: 'Roboto', sans-serif;
}


input,body{
  font-family: 'Texturina', serif;
}